# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Backup folders
backup/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db
